.container {

    width: 42px;
    height: 24px;
    border: 1.5px solid var(--invertedColor);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    position: relative;
    cursor: pointer;

}

.icon {

    font-size: 12px;

}

.ball {

    width: 17px;
    height: 17px;
    border: 1px solid var(--invertedColor);
    background-color: var(--backColor);
    border-radius: 50%;
    position: absolute;

}