.container {
    width: 100%;
    min-height: 100svh;
    height: fit-content;
}

.shopItemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 75px;
}

.backButton {
    width: 75px;
    height: 50px;
    border-radius: 0 100px 100px 0;
}

.title {
    margin-bottom: 20px;
}

.item {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imageContainer {
    position: relative;
}

.imgButton {
    position: absolute;
    z-index: 10;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 100px;
    top: 50%;
    padding: 5px;
    color: white;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.buySection {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.buyButton {
    width: 100px;
    height: 50px;
    background-color: transparent;
    font-size: 2rem;
}