.button {
    color: var(--invertedColor);
    border: 1px solid var(--invertedColor);
    cursor: pointer;
    background-color: transparent;
}

.button:hover {
    color: var(--backColor);
    background-color: var(--invertedColor);
}