.container {
    min-height: 100svh;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.info {
    width: 90%;
}

.title {
    width: 100%;
    text-align: center;
}

.crew {
    width: 100%;
    min-height: 300px;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 200px;
    height: 275px;
    border: 1px solid white;
    border-radius: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    padding: 1%;
}

.name {
    font-size: 1rem;
}

.about {
    font-size: 10px;
}