.container {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: transparent;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
}

.logo {
  font-weight: bold;
  font-size: 40px;
  text-decoration: none;
}

.logout {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}