.container {
    width: 100%;
    min-height: 100svh;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputF {
    background-color: transparent;
    padding: 1%;
    border: 1px solid var(--invertedColor);
    color: var(--invertedColor);
    box-shadow: 0 0 10px var(--invertedColor);
    outline: none;
}

.searchBar {
    width: 300px;
    height: 35px;
    border-radius: 100px 100px 50px 50px;
}

.addProduct {
    width: 35px;
    height: 35px;
    margin: 10px;
    filter: drop-shadow(0 0 10px var(--invertedColor));
}

.plusImage {
    width: 35px;
    height: 35px;
}

.fromPrice {
    width: 50px;
    height: 25px;
    margin-right: 10px;
}

.toPrice {
    width: 50px;
    height: 25px;
}

.itemHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;
    gap: 50px;
}

.card {
    width: 250px;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: var(--invertedColor);
    margin: 5px;
    overflow: hidden;
    color: var(--backColor);
}

.card:hover {
    transform: scale(1.1);
}

.image {
    object-fit: cover;
}

.title {
    margin-bottom: 10px;
    text-align: center;
}

.desc {
    font-size: 18px;
}

@media (max-width: 300px) {
    .searchBar {
        width: 100%;
    }
}

@media (max-width: 250px) {
    .card {
        width: 100%;
    }
}