.container {
    width: 100%;
    min-height: 100svh;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searchBar {
    width: 300px;
    height: 35px;
    border-radius: 100px 100px 50px 50px;
    background-color: transparent;
    padding: 1%;
    border: 1px solid white;
    outline: none;
    color: white;
}

.itemHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;
    gap: 50px;
}

.card {
    width: 250px;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    margin: 5px;
    overflow: hidden;
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.1);
}

.image {
    object-fit: cover;
}

.title {
    margin-bottom: 10px;
    text-align: center;
}

.desc {
    font-size: 18px;
    color: #999;
}